/* Footer.css */
.footer {
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem;
  margin-top: auto; /* Empuja el footer hacia el final */
}

.footer-icons {
  margin-bottom: 0.5rem;
}

.footer-link {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #61dafb;
}

.footer-text {
  margin: 0;
}
